@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


#logodesign{
    font-family: 'Roboto', sans-serif !important;
}
li :hover{
    
    color: rgba(255, 0, 0, 0.521) !important;
}
li{
    font-weight: 700 !important;
}
#cardheader:hover{
    color: rgba(255, 0, 0, 0.521) !important;

}
i:hover{
    color: rgba(255, 0, 0, 0.555);
}
#shop :hover{
    color: rgb(21, 255, 0) !important;

}

